/* header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
} */

header {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

header #logo {
  display: grid;
  grid-template-columns: 1fr;
  border-bottom: 1px dotted var(--primaryColor);
}

header #logo img{
  max-width: 150px;
  height: auto;
}

header #logo h1 {
  font-size: 1rem;
}

header #nav {
  margin-top: 1rem;
}


header #nav .navItems {
  display: grid;
  grid-template-columns: 1fr;
  
}

header #nav .navItems .navItem {
  margin-right: 0;
  margin: .75rem 0;
}

header #nav .navItems .navItem a {
  padding: .5rem;
}

#showcase .showcaseContent {
  padding: 4rem;
  line-height: 1.7;
}


/* About */

#about {
  height: 90vh;
  margin-bottom: 1rem;
}

#about .aboutContent .top {
  padding: 1rem;
}

#about .aboutContent .bottom {
  padding: 2rem;
}

/* product */

#product {
  height: 160vh;
  margin-bottom: 2rem;
  padding: 1rem 0;
}

#product .intro h1 {
  padding-top: 2rem;
}

#contact  {
  margin-top: 1rem;
  height: 80vh;
  margin-top: 1rem;
}

footer h3 {
   padding-top: .75rem ;
}


